.marquee-wrapper {
  overflow: hidden;
  background-color: #ff3c00;
  white-space: nowrap;
  position: relative;
  padding: 40px 0px;
}

.marquee-track {
  display: inline-block;
  white-space: nowrap;
  animation: scrollMarquee 20s linear infinite;
}

.marquee-item {
  display: inline-block;
  margin-right: 2rem;
  color: white;
  font-size: 2rem;
  transition: color 0.3s;
}

.marquee-item:hover {
  color: black;
}

@keyframes scrollMarquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
