.marquee-wrapper {
  overflow: hidden;
  background-color: #ff3c00;
  white-space: nowrap;
  position: relative;
  padding: 40px 0px;
}

.marquee-track {
  display: inline-block;
  white-space: nowrap;
  animation: scrollMarquee 20s linear infinite;
}

.marquee-item {
  display: inline-block;
  margin-right: 2rem;
  color: white;
  font-size: 2rem;
  transition: color 0.3s;
}

.marquee-item:hover {
  color: black;
}

@keyframes scrollMarquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media (min-width: 768px) {
  .my-container-1,
  .my-container-2 {
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
  }
}

.custom-carousel .carousel-image {
  height: 90vh;
  object-fit: cover;
}

.custom-caption {
  max-width: 600px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.custom-arrow {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 123, 255, 0.6);
  border-radius: 50%;
  background-size: 50%, 50%;
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: 3%;
}

.carousel-control-next {
  right: 3%;
}
